<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ScheduleNotes">
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />

        </provider>

        <activity
            android:name=".ui.lists.languages.wordOrPhraseDetails.WordOrPhraseDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.lists.languages.LanguagesListActivity"
            android:exported="false"
            android:label="@string/title_languages_list" />
        <activity
            android:name=".ui.lists.shopping.ShoppingListActivity"
            android:exported="false"
            android:label="@string/title_shopping_list" />
        <activity
            android:name=".ui.lists.userDefinedLists.UserDefinedListActivity"
            android:exported="false" />
        <activity
            android:name=".ui.lists.music.MusicListActivity"
            android:exported="false"
            android:label="@string/title_music_list" />
        <activity
            android:name=".ui.lists.movies.MoviesListActivity"
            android:exported="false"
            android:label="@string/title_movies_list" />
        <activity
            android:name=".ui.schedule.eventDetails.EventDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.notes.noteDetails.NoteDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.categories.categoryDetails.CategoryDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.settings.importExport.ImportActivity"
            android:exported="false"
            android:label="@string/title_import" />
        <activity
            android:name=".ui.settings.importExport.ExportActivity"
            android:exported="false"
            android:label="@string/title_export" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>
    </application>

</manifest>